<div style="margin-top: 100px;" class="container register">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a style="color: black;" (click)="changeTab()" [ngClass]="tabsign ?'nav-link active': 'nav-link'"  id="home-tab"  data-toggle="tab" role="tab"   aria-controls="home" aria-selected="true">Sign in</a>
                </li>
                <li class="nav-item">
                    <a style="color: black;" [ngClass]="tabsign ?'nav-link': 'nav-link active'" (click)="changeTab()" id="profile-tab" data-toggle="tab"  role="tab"  aria-controls="profile" aria-selected="false">Sign up</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div [ngClass]="tabsign ?'tab-pane fade show active text-align form-new': 'tab-pane fade show text-align form-new'" id="home" data-target="home"   role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Sign in</h3>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form [formGroup] = "formLogin" (ngSubmit) = "login()">
                                <div class="form-group">
                                    <input type="text" formControlName="email" name="LGform1_user" class="form-control" placeholder="Your Email *" value="" required=""/>
                                </div>
                                <div *ngIf="submitlogin && loginFormValidaiton.email.errors" class="alert alert-danger mt-3 mb-0">
                                    <div *ngIf="loginFormValidaiton.email.errors.required">Email is required</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" name="LGform1_pwd" class="form-control" placeholder="Your Password *" value="" required=""/>
                                </div>
                                <div *ngIf="submitlogin && loginFormValidaiton.password.errors" class="alert alert-danger mt-3 mb-0">
                                    <div *ngIf="loginFormValidaiton.password.errors.required">Password is required</div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="LGform1" class="btnContactSubmit" value="Login" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div [ngClass]="tabsign ?'tab-pane fade show text-align form-new': 'tab-pane fade show active text-align form-new'" id="profile" data-target="profile"  role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Sign up</h3>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form [formGroup] = "formRegister" (ngSubmit) = "register()">
                                <div class="form-group">
                                    <input type="text" name="LGform1_user" formControlName="email" class="form-control" placeholder="Email" value="" required=""/>
                                </div>
                                <div *ngIf="submitregister && registerFormValidaiton.email.errors" class="alert alert-danger mt-3 mb-0">
                                    <div *ngIf="registerFormValidaiton.email.errors.required">Email is required</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="LGform1_user" formControlName="username" class="form-control" placeholder="Username" value="" required=""/>
                                </div>
                                <div *ngIf="submitregister && registerFormValidaiton.username.errors" class="alert alert-danger mt-3 mb-0">
                                    <div *ngIf="registerFormValidaiton.username.errors.required">Username is required</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="LGform1_pwd" formControlName="password" class="form-control" placeholder="Password" value="" required=""/>
                                </div>
                                <div *ngIf="submitregister && registerFormValidaiton.password.errors" class="alert alert-danger mt-3 mb-0">
                                    <div *ngIf="registerFormValidaiton.password.errors.required">Password is required</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="LGform1_pwd" formControlName="passwordconfirm"  class="form-control" placeholder="Confirm Password" value="" required=""/>
                                </div>
                                <div *ngIf="submitregister && registerFormValidaiton.passwordconfirm.errors" class="alert alert-danger mt-3 mb-0">
                                    <div *ngIf="registerFormValidaiton.passwordconfirm.errors.required">Password confirm is required</div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="LGform2" class="btnContactSubmit" value="Login" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
        </div>
    </div>
</div>