<div style="margin-top: 100px;" class="container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <form [formGroup] = "formChangePass" (ngSubmit)= "updatePassword()" > 
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Update Your Password</h6>
                </div> 
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="fullName">Current Password</label>
                        <input type="password" class="form-control" id="currentpass" formControlName="currentpass" placeholder="Enter Current Password">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail">New Password</label>
                        <input type="password" class="form-control" id="newpass" formControlName="newpass"  placeholder="Enter New Password">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">New Password Confirm</label>
                        <input type="password"  class="form-control" formControlName="newpassconf" id="newpassconf"  placeholder="Enter New Password Confirm">
                    </div>
                </div>
                
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    
                    <div class="text-right">
                        <button style="margin-top: 30px;" type="submit" class="btn btn-primary" >
                            <span *ngIf="loading" class="spinner-border spinner-border-sm">
                            </span>
                            Update Password
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>
