<div class="row" id="body-row">
  
     <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
        <ul class="list-group sticky-top sticky-offset">
            <a [routerLink]="" (click)="addTitle()" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed">Add New Title</span>
                </div>
            </a>
            <a [routerLink]="" (click)="addSubTitle()" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed">Add New SubTitle</span>
                </div>
            </a>
        </ul>
    </div> 
    <div class="col py-3">
      <form  style="margin-top: 50px;width: 100%; " [formGroup] = "formBook" (ngSubmit) = "updateBook()">
      <div style="width: 50%;" class="form-group">
        <h4>Title <span class="label label-default"></span></h4>
        <input type="title" class="form-control"  [(ngModel)]="book.title"  formControlName="title" placeholder="Enter Title">
      </div>
        <h4>Content <span class="label label-default"></span></h4>
          <angular-editor style="height: 100%;" [placeholder]="'Enter text here...'"  [(ngModel)]="book.description"  formControlName="description"></angular-editor>
      <div style="margin-top: 30px;" class="form-group">
        <button type="submit" class="btn btn-primary" >
          <span *ngIf="loading" class="spinner-border spinner-border-sm">
          </span>
          Update
        </button>
      </div>
    </form>
    </div> 
</div>

